In [ ]:
#4.3
def sum_2(x,y):
    result = x+y
    return result
print(sum_2(42,73))

In [ ]:
#4.3
def power(x,y):
    result = x**y
    return(result)
print(power(2,3))

In [102]:
#4.4
def get_median(lst):
    result = sorted(lst)
    if len(result)%2 != 0:
        res = result[(len(result)//2)]
    else:
        res = (result[(len(result)//2)] + result[(len(result)//2)-1])/2
    
    return res

In [108]:
lst = [3,3,7,9]

In [109]:
get_median(lst)

5.0

# 4.5

In [397]:

user_db = [{'orders': 12}, {'orders': 30}, {'orders': 45}]

def avg_orders(user_db):
    order_sum = sum([user['orders'] for user in user_db])
    orders_per_user = order_sum/len(user_db)
    return(orders_per_user)
print(avg_orders(user_db))

29.0

In [394]:
avg_orders(user_db)

29

In [129]:
from random import random
print(random())
# => 0.8594880558993951

0.7237699379638407

In [163]:
def get_euro_rate():
    while True:
        rate = random()*100
        if rate<65 or rate>85:
            continue
        else:
            euro_rate = round(rate,2)
            break
    return(euro_rate)

In [168]:
get_euro_rate()

79.9

In [456]:
lambda func(value): value % 3

SyntaxError: invalid syntax (<ipython-input-456-ed4d7d67e3e7>, line 1)

In [451]:
# добавьте функцию get_euro_rate
def get_euro_rate():
    while True:
        rate = random()*100
        if rate<65 or rate>85:
            continue
        else:
            euro_rate = rate
            break
    return(euro_rate)

# используйте get_euro_rate в следующей функции
def to_euro(price):  
    exchange_rate = get_euro_rate() 
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)

In [457]:
values = [1, 2, 3]
vectors = [(10, 3), (4, 5), (6, 7)]

In [462]:
list(map(lambda x, y: x + y, values))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [452]:
get_euro_rate()

68.98233062647249

In [448]:
to_euro(100)

'€1.18'

In [412]:
get_euro_rate()

66.87719174566588

In [173]:
def apply_the_operation(operation, argument):  
    print("I'm using", operation)  
    return operation(argument)

In [174]:
def double_string(string):  
    return string*2

In [185]:
d = range(5)

In [182]:
all_the = sum
magic = range
print(all_the(magic(5)))

10

In [204]:
def polite_name(name):  
    return 'Mr. ' + name   
  
guests = ["Boris", "Ivan", "Bob"]
guest_iterator = map(polite_name, guests)  # здесь мы применили polite_name к каждому имени  

list(guest_iterator)  # вывoд

['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

In [207]:
num_strings = ["10", "1", "4.2", "0.73"]  
  
list(map(float, num_strings))

[10.0, 1.0, 4.2, 0.73]

In [215]:
abs()

10

In [217]:
list(map(abs, [10,  -1, 42, -73]))[3]

73

In [218]:
word_sizes = list(map(len, ["all", "you", "need", "is", "map"]))

In [219]:
word_sizes

[3, 3, 4, 2, 3]

In [224]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(map(lambda value: value-mean,values)) # ваш код здесь

In [225]:
result

[-14, -10, -3, -2, 5, 24]

In [226]:
30%2

0

In [228]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(filter(lambda value: value>mean, values))

In [253]:
rabbits = 0

def count_rabbits(spotted):
    global rabbits
    rabbits += spotted

    
count_rabbits(3)
count_rabbits(5)
print(rabbits)

8

In [277]:
#4.18

def normalize(numbers, mean=0, std=1):
    
    return [round(((x-mean)/std)) for x in numbers]

In [281]:
normalize([10,20], mean = 15 )

[-5, 5]

In [287]:
def multiply(*args):  
    product = 1  
    for num in args:  
        product *= num  
    return product   
  
print(multiply(2))  
# => 2  
print(multiply(8, 3, 4))  
# => 96  
print(multiply(1, 2, 3, 4, 5, 6))  
# => 720

2
96
720

In [289]:
#4.19.1
def sum_args(*args):
    result = sum(args)
    return result

In [290]:
sum_args(10,15,-4)

21

In [294]:
def print_config(**kwargs):  
    for key, value in kwargs.items():  
        print(key, ": ", value)

In [295]:
print_config(school="skillfactory")

school :  skillfactory

In [301]:
'dff'.join('')

'1dff0dff1dff1'

In [302]:
def show_keys(**kwargs):
    print(' '.join(kwargs.keys()))

show_keys(verbose=True, mode='constant')

verbose mode

# 4.23

In [354]:
def count_letters(sentence, average=False):   
    if average == True:
        count = sum([len(x) for x in sentence.split(' ')])/len(sentence.split(' '))
    else:
        count = sum([len(x) for x in sentence.split(' ')])
    return round(count,3)

In [355]:
sentence = ("I will build my own theme park")

In [356]:
count_letters("I will build my own theme park", average=True)

3.429

In [357]:
count_letters("I will build my own theme park")

24

In [367]:
words = ["sofa", "suitcase", "valise", "picture", "basket", "carton", "doggie"]
list(map(lambda w: sorted(w)[0], words))[5]

'a'

In [383]:
def always(n):
    return(n)

     # должно вернуть 5

In [382]:
always(5)

5

In [319]:
sum([len(x) for x in sentence.split(' ')])

24

In [313]:
sum(words)

24

In [320]:
sum([len(x) for x in lst])

3.4285714285714284

In [536]:
def always(n): 
    def five():
        return n
    return five
five = always(10)
five()

10

In [484]:
five = always(5)