In [101]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [102]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1706,tt0463854,15000000,64238440,28 Weeks Later,Imogen Poots|Robert Carlyle|Rose Byrne|Jeremy ...,Juan Carlos Fresnadillo,When days turn to weeks... the horror returns.,"In this chilling sequel to 28 Days Later, the ...",100,Horror|Thriller|Science Fiction,DNA Films|Figment Films|Sociedad General de Ci...,4/26/2007,6.3,2007
388,tt0473075,150000000,335154643,Prince of Persia: The Sands of Time,Jake Gyllenhaal|Gemma Arterton|Ben Kingsley|Al...,Mike Newell,Defy the Future,A rogue prince (Jake Gyllenhaal) reluctantly j...,116,Adventure|Fantasy|Action|Romance,Walt Disney Pictures|Jerry Bruckheimer Films,5/19/2010,6.1,2010
471,tt1213648,25000000,4644108,London Boulevard,Keira Knightley|Colin Farrell|Anna Friel|Ray W...,William Monahan,Not every criminal wants to be one.,A parolee battles a gangster for the affection...,103,Drama|Crime,GK Films|Henceforth|Projection Pictures|London...,11/10/2010,5.5,2010
745,tt0983193,130000000,371940071,The Adventures of Tintin,Jamie Bell|Andy Serkis|Daniel Craig|Nick Frost...,Steven Spielberg,"This year, discover how far adventure will tak...","Intrepid young reporter, Tintin and his loyal ...",107,Adventure|Animation|Action|Family|Mystery,Paramount Pictures|Columbia Pictures|WingNut F...,10/25/2011,6.6,2011
1113,tt0298814,60000000,74208267,The Core,Aaron Eckhart|Hilary Swank|Delroy Lindo|Stanle...,Jon Amiel,Earth has a deadline.,Geophysicist Dr. Josh Keyes discovers that an ...,136,Action|Thriller|Adventure|Science Fiction,Paramount Pictures|David Foster Productions|Ho...,3/28/2003,5.3,2003

In [103]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [104]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Подсчет уникальных значений столбца c разделителем |
def unique_values(df_col):
    values = np.array("|".join(x for x in df_col).split("|"))
    unique, counts  = np.unique(values,return_counts=True)
    df = pd.DataFrame(list(zip(unique,counts)), columns=['unique_values','counts'])
    return df

In [105]:
# Создание списка уникальных значений
def unique_values(col):
    return np.unique(("|".join(x for x in col).split("|")))

In [106]:
# Создаем колонку с месяцами выхода фильмом
data['release_month']=[None]*len(data)
for i in range(0,len(data)):
    data.at[i,'release_month'] = data.at[i,'release_date'][0:2]
data['release_month']=[x.replace('/', '') for x in data.release_month]

In [107]:
# Создаем список всех режисеров
directors_lst = pd.Series(("|".join(x for x in data.director).split("|"))).unique()

In [108]:
# Создаем список всех актеров
actors_lst = np.unique(("|".join(x for x in data.cast).split("|")))

In [109]:
# Создаем колонку [profit] = revenue - budget
data['profit'] = data['revenue'] - data['budget']

In [110]:
genres_lst = ('|'.join([str(x) for x in data['director']])).split('|')

In [111]:
# Создаем список уникальных жанров
genres_lst = list(set(('|'.join([str(x) for x in data['director']])).split('|')))

In [112]:
len(genres_lst)

997

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [113]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [114]:
# тут пишем ваш код для решения данного вопроса:

In [115]:
data[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [116]:
# можно добавлять разные варианты решения
data.query('budget==budget.max()')['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [117]:
data[data.runtime == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [118]:
answers['2'] = 'Gods and Generals' # +

# 3. Какой из фильмов самый короткий (в минутах)?

In [119]:
data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [120]:
answers['3'] = 'Winnie the Pooh' # +

# 4. Какова средняя длительность фильмов?

In [121]:
round(data.runtime.mean())

110

In [122]:
answers['4'] = '110' # +

# 5. Каково медианное значение длительности фильмов?

In [123]:
round(data.runtime.median())

107

In [124]:
answers['5'] = '107' # +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [125]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [126]:
data.query('profit==profit.max()')['original_title']

239    Avatar
Name: original_title, dtype: object

In [127]:
answers['6'] = 'Avatar' # +

# 7. Какой фильм самый убыточный?

In [128]:
data.query('profit==profit.min()')['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [129]:
answers['7'] = 'The Lone Ranger' # +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [130]:
len(data.query('revenue>budget'))

1478

In [131]:
answers['8'] = '1478' # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [132]:
data.original_title.loc[data.profit==data.query('release_year==2008')['profit'].max()]

599    The Dark Knight
Name: original_title, dtype: object

In [133]:
answers['9'] = 'The Dark Knight' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [134]:
data.original_title.loc[data.profit==data.query('2012<=release_year<=2014')['profit'].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [135]:
answers['10'] = 'The Lone Ranger' # +

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 1

In [136]:
pd.Series(("|".join(x for x in data.genres).split("|"))).value_counts()[0:1]

Drama    782
dtype: int64

ВАРИАНТ 2

In [137]:
answers['11'] = 'Drama' # +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [138]:
pd.Series(("|".join(x for x in data[(data.profit >0)].genres).split("|"))).value_counts()[0:1]

Drama    560
dtype: int64

In [139]:
answers['12'] = 'Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [140]:
directors_lst = pd.Series(("|".join(x for x in data.director).split("|"))).unique()

In [141]:
result=[]
for i in directors_lst:
    for j in range(0,len(data)):
        if i in data.director[j]:         
            result.append([i,data.revenue[j]])

In [142]:
dir_revenue = pd.DataFrame(result, columns=['director','revenue'])

In [143]:
dir_revenue.groupby(['director'])['revenue'].sum().sort_values(ascending=False)[0:1]

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [144]:
# В данной задаче такое решение тоже дает правельный ответ на поставленный вопрос, но задачу выполняет не полностью.

data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [145]:
answers['13'] = 'Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [146]:
dirs_action_lst = np.array(data[data.genres.str.contains("Action")].director)

In [147]:
pd.Series(("|".join(x for x in dirs_action_lst).split("|"))).value_counts()

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Antoine Fuqua          6
Ridley Scott           6
                      ..
Demian Lichtenstein    1
Asger Leth             1
Joseph Kahn            1
Stuart Beattie         1
Peter Segal            1
Length: 364, dtype: int64

In [148]:
answers['14'] = 'Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [149]:
films_2012 = data.query('release_year in ["2012"]')

In [150]:
actors2012_lst = np.array(films_2012.cast)

In [151]:
unique_actors = np.unique(("|".join(x for x in actors2012_lst).split("|")))

In [152]:
result = []
for i in unique_actors:
    sum_revenue = films_2012[films_2012.cast.str.contains(i,na=False)]['revenue'].sum()
    result.append([i,sum_revenue])

In [153]:
result_films = pd.DataFrame(result, columns=['actors','sum_revenue']).sort_values(by='sum_revenue'
                                                                                  ,ascending=False)[0:1]

In [154]:
result_films

             actors  sum_revenue
77  Chris Hemsworth   2027450773

In [155]:
answers['15'] = 'Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [156]:
high_budget_films = data[data.budget > data.budget.mean()]

In [157]:
pd.Series(("|".join(x for x in high_budget_films.cast).split("|"))).value_counts()[0:1]

Matt Damon    18
dtype: int64

In [158]:
answers['16'] = 'Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [159]:
cage_genres = np.array(data[data.cast.str.contains('Nicolas Cage',na=False)]['genres'])

In [160]:
pd.Series(("|".join(x for x in cage_genres).split("|"))).value_counts()[0:1]

Action    17
dtype: int64

In [161]:
answers['17'] = 'Action' # +

# 18. Самый убыточный фильм от Paramount Pictures

In [162]:
paramoun_films = data[data.production_companies.str.contains('Paramount Pictures',na=False)]

In [163]:
paramoun_films[paramoun_films.profit==paramoun_films.profit.min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [164]:
answers['18'] = 'K-19: The Widowmaker' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [165]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)[0:1]

release_year
2015    25449202382
Name: revenue, dtype: int64

In [166]:
answers['19'] = '2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [167]:
warner_bros = data[data.production_companies.str.contains('Warner Bros',na=False)]

In [168]:
warner_bros.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)[0:1]

release_year
2014    3243064519
Name: revenue, dtype: int64

In [169]:
answers['20'] = '2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [170]:
data['release_month'].value_counts()[0:1]

9    227
Name: release_month, dtype: int64

In [171]:
answers['21'] = 'Сентябрь' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [172]:
result = data['release_month'].value_counts()

In [173]:
result

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [174]:
result = result.reset_index()

In [175]:
result.columns = ['month','release_month']

In [176]:
result.query('month in ["6","7","8"]')['release_month'].sum()

450

In [177]:
answers['22'] = '450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [178]:
winter_release = data.query('release_month in ["12","1","2"]')['director']

In [179]:
winter_release = winter_release.reset_index()

In [180]:
result=[]
for i in directors_lst:
    for j in range(0,len(winter_release)):
        if i in winter_release.director[j]:         
            result.append(i)#[i,data.revenue[j]])

In [181]:
pd.Series(result).value_counts()[0:1]

Peter Jackson    7
dtype: int64

In [182]:
answers['23'] = 'Peter Jackson' # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [183]:
data24=data.copy()

In [184]:
data24['title_length'] = [None]*len(data24)
for i in range(0,len(data24)):
    data24.at[i,'title_length'] = len(data24.original_title[i])

In [185]:
data24[data24['title_length']>data24['title_length'].mean()].sort_values(by='title_length'
                                                                         ,ascending=False)['production_companies'][0:1]

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

In [ ]:
unique_companies

In [186]:
unique_companies = pd.Series(("|".join(x for x in data['production_companies']).split("|"))).unique()

In [187]:
films_length = []
for i in unique_companies:
    for j in range(0,len(data)):
        if i in data.production_companies[j]:
            films_length.append([i,data['original_title'][j],len(data['original_title'][j])])

In [188]:
title_df = pd.DataFrame(films_length)
title_df.columns = ['production_companies','original_title','title_length']

In [189]:
title_df[title_df['title_length']>data24['title_length']
             .mean()].sort_values(by='title_length',ascending=False)['production_companies']#

6700                    Four By Two Productions
4809                      Twentieth Century Fox
743      Twentieth Century Fox Film Corporation
2098                               Walden Media
3669                                     Disney
                         ...
4999                     Zide-Perry Productions
3112                           Relativity Media
5007                              Bazmark Films
6166    Cecchi Gori Group Tiger Cinematografica
4139                               Studio Canal
Name: production_companies, Length: 2603, dtype: object

In [190]:
answers['24'] = 'Four By Two Productions' # +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [191]:
overview_length = []
for i in unique_companies:
    for j in range(0,len(data)):
        if i in data.production_companies[j]:
            overview_length.append([i,data['original_title'][j],len(data['overview'][j])])

In [192]:
overview_df = pd.DataFrame(overview_length)
overview_df.columns = ['production_companies','original_title','overview_length']

In [193]:
overview_df[overview_df['overview_length']>overview_df['overview_length']
             .mean()].sort_values(by='overview_length',ascending=False)[['production_companies','overview_length']][0:10]#

          production_companies  overview_length
1994   Lakeshore Entertainment             1000
4553                Lions Gate             1000
5631        GreeneStreet Films             1000
4914          Lions Gate Films             1000
5635     Midnight Picture Show             1000
6619      Room 9 Entertainment              964
2968  Fox Searchlight Pictures              964
5690           Fox Searchlight              964
1650           New Line Cinema              960
5017        Revolution Studios              959

In [194]:
answers['25'] = 'Midnight Picture Show' # +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [195]:
data.sort_values(['vote_average'],ascending=False)[0:round(len(data)/100)][['original_title','vote_average']]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

In [196]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [197]:
# создаем список всех уникальных актерев
actors_lst = unique_values(data.cast)

In [198]:
actors_lst

array(['50 Cent', 'A.J. Cook', 'Aaliyah', ..., 'ZoÃ« Kravitz',
       'Zuleikha Robinson', 'Ã“lafur Darri Ã“lafsson'], dtype='<U26')

In [199]:
# создаем список всех фильмов с актерами
cast = list(data.cast)

In [200]:
# убираем лишние знаки
cast = [x.replace("'", " ") for x in cast]

In [201]:
count=7
for actor1 in actors_lst:
    actor1_cast = [x for x in cast if x.find(actor1)>=0]
    for actor2 in actors_lst:
        if actor1 != actor2:
            actor2_cast = [x for x in actor1_cast if x.find(actor2)>=0]
            if len(actor2_cast) >=count:
                count = len(actor2_cast)
                print(actor1,'&',actor2,'=',count)

Daniel Radcliffe & Emma Watson = 8
Daniel Radcliffe & Rupert Grint = 8
Emma Watson & Daniel Radcliffe = 8
Emma Watson & Rupert Grint = 8
Rupert Grint & Daniel Radcliffe = 8
Rupert Grint & Emma Watson = 8

In [202]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

# Submission

In [203]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [204]:
# и убедиться что ни чего не пропустил)
len(answers)

27